VITE_API_BASE_URL=http://41.216.191.39:8000/api
VITE_SSO_URL=http://41.216.191.39:4000
VITE_SSO_CLIENT_ID=purbalingga-pay
VITE_SSO_REDIRECT_URI=http://41.216.191.39/callback
VITE_SSO_SCOPE=openid profile email
VITE_SSO_LOGIN_URL=http://41.216.191.39:5174/login
VITE_SSO_DASHBOARD_URL=http://41.216.191.39:5174/dashboard
VITE_SSO_LOGOUT_URL=http://41.216.191.39:5174/logout
